<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/cloud.ico">
    <script src="https://kit.fontawesome.com/e732c1b191.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Weather App</title>
</head>
<body>
    {{>header}}

    <div class="main-container">
        <form class="Formbox" action="/" method="POST">
            <input id="UserInput" name="location" type="text" placeholder="Enter City/Country">
            <button id="SearchBtn" type="submit">SUBMIT</button>
       </form>
        <br>
        <h3>ERROR 404 - THE RESOURCE YOU'RE LOOKING FOR IS NOT FOUND!!!</h3>
    </div>
    
    {{>footer}}
</body>
</html>