<header>
    <h1><i class="fas fa-cloud-sun"></i> WEATHER APP</h1>
    <div>
        <a href="/">Home</a>
        <a href="">Source Code</a>
        <a href="/about">About Us</a>
    </div>
</header>
