<header>
    <h1><i class="fas fa-cloud-sun"></i> WEATHER APP</h1>
    <div>
        <a href="/">Home</a>
        <a href="https://github.com/IamHaseebAhmed/weather-app" target="_blank">Source Code</a>
        <a href="/about">About Me</a>
    </div>
</header>
